.App {
  width: 60%;
  margin: 0.9em auto;
  background-color: #1a1a1a;
  border-radius: 8px;
  color: rgb(179, 218, 244);
}

.logoImg {
  margin-top: 18px;
  animation: logo-img-spin infinite 2s linear;
}

@keyframes logo-img-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.todo-header {
  text-align: center;
}

h1 {
  margin-top: 10px;
  font-size: 2.5em;
}

.form-todo {
  padding: 1em;
  margin: 0 2em;
  margin-top: -20px;
}

.form-todo h2 {
  font-size: 1.3em;
}

.form-todo h2,
.list-todo h2 {
  text-align: center;
  margin-top: -4px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.form-control label {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

.form-control input {
  height: 0.8em;
  border: none;
  border-radius: 8px;
  background-color: #4734343a;
  padding: 1.5em;
  color: #dfdfdf;
  text-align: center;
  font-size: 1.1em;
}

.form-control input:focus {
  outline: none;
}

input[type="submit"] {
  background-color: #333;
  color: rgb(179, 218, 244);
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 2em;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

input:hover[type="submit"] {
  color: #fff;
  background: rgb(45, 149, 218);
}

input:active[type="submit"] {
  background-color: #000000;
}

.list-todo {
  padding: 0 1em 2em;
  margin: -0.4em 2em;
}

.list-todo h2 {
  color: rgba(148, 212, 255, 0.957);
  font-size: 20px;
}

.list-todo p {
  text-align: center;
  margin-top: 0px;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(45, 149, 218);
  border-radius: 8px;
  color: rgb(240, 236, 232);
  margin-top: 0.6em; 
  padding-bottom: 0.6em;
}

.todo:hover {
  background: #000000;
}

.todo h3 {
  margin-top: 15px;
  font-size: 1.5em;
}

.todo-done {
  text-decoration: line-through;
  color: #333; 
}

.todo p {
  font-style: none;
  font-size: 0.9em;
  margin-bottom: 0.8em;
  margin-top: -0.9em;
}

.todo svg {
  font-size: 1.4em;
  cursor: pointer;
  padding: 3.8px 20px;
  transition: 0.5s;
}

.todo svg:hover {
  color: rgba(148, 212, 255, 0.957);
}